
html,body{width:100%;height: 100%;}
#top{
    width: 100%;
    background-color:#FF4500;}
#top .cont{
    height: 88px;
    width:980px;}
#top .m_top_t{
    width: 100%;
    height: 20px;
}
#top .m_top_t p{
    font-size: 12px;
    color:#fff;
}
#top .m_top_t a{
    text-decoration: underline;
    color:#fff;
}

#top .m_top_t .m_top_t_r{width: 365px;}
#top .m_top_t .m_top_t_r span{
    float: left;
    position:relative;
}
#top .m_top_t .m_top_t_r span ul{
    position:absolute;
    display:none;
} 
#top .m_top_t .m_top_t_r a{
    font-size: 12px;
    text-decoration: underline;
    color:#fff;
}
#top .m_top_t .m_top_t_r span ul li{
    border-bottom: 1px dashed #ccc;
}
#top .m_top_t .m_top_t_r span ul li a{
    color:#000;
    display:block;
    width: 94px;
} 
#top .m_top_t .m_top_t_r i{
    color:#fff;
    font-weight: bold;
    font-size: 12px;
} 
#top .m_top_t .m_top_t_r a b{
    font-weight: normal;
    color:#FFCC00;
}
#top .m_top_t .m_top_t_r .m_a1{
    text-decoration: none;
}
#top .m_top_t .m_top_t_r a:hover{
    text-decoration: none;
    color:#FFCC00;
}
#top .m_top_t .m_top_t_r span:hover ul{
    display:block;
    background:#fff;
    color:#000;
}
#top .m_top_t .m_top_t_r .m_top_span_2{
    float: left;
    position:relative;
}
#top .m_top_t .m_top_t_r .m_top_span_2 ul{
    position:absolute;
    display:none;
}
#top .m_top_t .m_top_t_r .m_top_span_2 ul li a{
    display:block;
    width: 127px;
}
#top .m_top_b{
    width: 100%;
    height: 68px;
}
#top .m_top_b_l .logo{
    height: 68px;
    width:339px;
    background:url(../images/logo.png)
    no-repeat;
}
#top .m_top_b_l h3{text-indent: -10000px;}
#top .m_top_b_c{
    width:438px;height: 55px;
    padding-top:10px;
    position: relative;
}
#top .m_top_b_c a{
    line-height: 27px;
    font-size: 10px;color:#fff;
    text-decoration: underline;
}
#top .m_top_b_c .m_input_1{
    width: 335px;height: 29px;
    float: left;background:#CFCFCF;
    border-left:1px solid #000;
    border-top:1px solid #000;
    padding-left:20px;
    box-sizing: content-box;color: #757575;
}
#top .m_top_b_c .m_tu{
    color: #9C9C9C;font-size: 14px;
    position: absolute;left:4px;top:19px;
}
#top .m_top_b_c .m_input_2{
    width: 80px;
    height: 30px;
    float: left;
    background:#50302C;
    color:#fff;
    border:1px solid #000;
    font-size: 14px;
    text-align: center;
    line-height: 30px;}
#top .m_top_b_c p a{
    color:#fff;
    text-decoration: underline;
}
#h-nav{
    background-color: #404040;
    height: 30px;
}
#h-nav .cont{height: 30px;}
#first-nav .tab{
    line-height: 30px;
}
#first-nav .two{
    line-height: 23px;
}
#first-nav .tab{
    float:left;
    font-size: 10px;
    position:relative;
}
#first-nav .tab>a{display:block;}
#first-nav .tab1>a{
    width: 202px;
    height: 30px;
    padding-left: 9px;
    color:#fff;
}
/*=============字体图标部分==========*/
#first-nav .tab1>a>i{
    position:absolute;
    right:0;top: 0;
    margin-right: 10px;
}
#first-nav .tab5>a>i{
    position:absolute;
    left:5px;top: 0;
    color:#fff;
}
#first-nav .tab6>a>i{
    position:absolute;
    left:5px;top: 0;
    color:#fff;
}
/*===================*/
#first-nav .tab6 a>span{border:none;}/*去掉多余边框*/
#first-nav .sp2,.sp3,.sp4,.sp5,.sp6{/*第二个到第五个li*/
    border-right: 1px solid #ccc;
    padding:0 13px 0 18px;
    color:#fff;
}
#first-nav .sp5,.sp6{
    padding-left: 27px;
}
/*=======动画========*/
#first-nav .tab:hover>a{
 
}
/*==========hover=======*/
#first-nav .tab:hover>a{
    color:#CFCFC6;
    border-left: 1px solid #555555;
    margin-left:-1px;
    background-color:#555;
  /*  font-weight: bold;*/
}
#first-nav .tab:hover>a>span{
    border-right: 1px solid #555555;
}
#first-nav .tab1:hover>a>span{
}
#first-nav .tab1:hover>ul{
    display:block;
}

/*====二级导航=======*/
#first .tab{
    position:relative;
}
#nav-2{
    width: 208px;
    display:none;
    border:1px solid #E6E6E6;
    background-color: #fff;
    box-shadow: -2px 3px 10px 0 #ccc;
    position:absolute;
}
#nav-2 .two a{ 
    padding-right: 12px;
}
#nav-2 .two{
    transition: all 2s;
    padding-left: 9px;
    position:relative;
}
#nav-2 .bgc{
    background-color:#F1F1F1;
}
#nav-2 .two h4{
    font-weight: bold;
}
#nav-2 .two h4::after{
    content:">";
    position:absolute;
    top:0;
    right:15px;
    color:#2B2B2B;
}
/* ==========hover========= */
#nav-2 .two:hover{
    background-color: #2B2B2B;
    color:#CFCFC6;
}
#nav-2 .two:hover>a{
    color:#CFCFC6;
    font-weight: bold;
}
#nav-2 .two>a span:hover{text-decoration:underline;}
#nav-2 .two:hover>a{
    color:#CFC2A5;
}

#nav-2 .two:hover #nav-3{display:block;}
#nav-3 .nav-3l a:hover{
    color:#FFFFBF;
    text-decoration:underline;
}
#nav-3 .nav-3r li:hover{
    text-decoration:underline;
    background-color: #FFFFBF;
}
#nav-3 .nav-3r li:hover a{color:#000;}
/*#nav-3 .nav-3r{display:none;}
#nav-3:hover #nav-3r{display:block;}*/
/*=======三级导航=========*/
#nav-3{
    display:none;
    width: 580px;
    height: 430px;
    position:absolute;
    top: 0;left:208px;
    background-color: #404040;
    z-index: 999;

}
#nav-3 .nav-3l{
    border-right: 1px dashed #ccc;
    /*width: 394px;*/
    padding:0 6px 0 10px;
}
#nav-3 .nav-3l .threetab1{
    width: 393px;height: 256px;
}
#nav-3 .nav-3l .threetab3{
    height: 53px;
}
#nav-3 .nav-3l .threetab4{
    height: 53px;
}
#nav-3 .nav-3l h5{
    border-bottom: 2px solid #999982;
    color:#999982;
    font-size: 10px;
    font-weight: bold;
    line-height: 30px;
}
#nav-3 .nav-3l .three div{
    float:left;
    width: 130px;
    height: 220px;
}
#nav-3 .nav-3l .three a{
    color:#CBCDCF;
    text-indent: 2em;
}
/*阴影*/
#nav-3 .nav-3l{
    box-shadow:inset 0px 21px 79px -27px #ccc;
}
#nav-3 .nav-3r{
    width: 135px;
    padding:10px 24px 0 10px;
}
#nav-3 .nav-3r p{
    color:#F5FFF5;
    height: 20px;
    line-height: 20px;
    background-color: #5A5A5A;
    text-indent: 1em;
    position:relative;
}
#nav-3 .nav-3r>p i{
    display:block;
    position:absolute;
    right:0;top: 0;
}
#nav-3 .nav-3r li a{
    font-size: 10px;
    line-height: 23px;
    color:#CFCFB4;
}
/*================字体图标===========*/
#nav-3 .nav-3r .tubiao{position:relative;}
#nav-3 .nav-3r .tubiao::after{
    content:">>";
    position:absolute;
    top:0;
    right:0px;
    color:#fff;
}
#bigbox .dingbu{position:fixed;right:100px;;bottom:30px;}
#main{height:1540px;width: 100%;}
#main .cont .f_home{font-size:12px;line-height: 30px;}
#main .cont h1{border-bottom:  2px solid #ccc;width: 200px;}
#main .cont .ii{border-bottom: 2px solid #000;font-weight: bold;}
#main .cont .dahezi{width: 200px;height: 1475px;padding-top: 7px;float:left;}
#main .cont .c_box{width: 200px;height: 537px;}
#main .cont .c_box a{color:#000;font-size: 13px;}
#main .cont .c_box i{font-size: 20px;}
#main .c_box  li {height: 24px;width: 208px;}
#main .c_box .c_1box{width: 200px;}
#main .c_box li{display:none;padding-top: 12px;}
#main .c_box .c_1box:hover li{display:block;}

#main .c_box .c_2box{width: 200px;padding-top:16px;}

#main .c_box .c_2box:hover li{height: 24px;display:block;}
#main .c_box .c_3box{width: 200px;padding-top:16px;}

#main .c_box .c_3box:hover li{display:block;}
#main .c_box li:hover i{color:red;}
#main .c_box li:hover a{color:red;}


#main .cont .c_bigbox{width: 200px;height: 738px;}
#main .cont .c_bigbox .goodslist img{width: 165px;}
#main .cont .c_bigbox .goodslist .price span{color:#f00;}
#main .cont .c_bigbox .goodslist li{padding-top: 1px;}
#main .cont .c_bigbox .goodslist p{font-size: 14px ;}

/*=========================列表右边===============================*/
#h_main {
     overflow-x:hidden ;
     width: 770px;
    background-color: #fff;
     float:right;
}
#h_main .main_c{
    float: left;
    width: 165px;
    height: 284px;
    padding:0 20px 0 5px;
   
}
#h_main .main_c{
    position:relative;
    font-size: 10px;
}
#h_main .main_c img{
    display:block;
    width: 154px;
    height: 162px;
    margin:0 auto;

}
#h_main .main_c p{
    text-indent:1em ;
}
#h_main .main_c h4{
    text-indent:3em ;
    color:#333;
}
#h_main .main_c .s1{color:#333;}
#h_main .main_c .s2{color:red;}
#h_main .main_c .save{color:green;}
#h_main .main_c .wll>a{
    text-decoration:underline;
    color:#333;
}
#btn{
    position:absolute;
    top:166px;left:17px;
    display:inline-block;
    width: 16px;/*height: 10px;*/

}
#main .main_nav{
    height: 28px;
    border-bottom: 2px solid #000;
    overflow:hidden;
    margin-bottom: 10px;
}
#main ._nav_l{
    /*width: 210px;*/
    float:left;
    line-height: 30px;
}
#main ._nav_l>p{
    color: #40404C;
    display:inline-block;
    font-weight: bold;
    font-size: 14px;
}
#main ._nav_l>button{
    background-color: #fff;
}
#main ._nav_r{
    float:right;
    line-height: 30px;
}
#main ._nav_r>a{
    margin:0 10px;
    color:#333;
    font-size: 10px;
}
#main ._nav_r>a:hover{
    color:#FF4584;
}
#h_main_c{overflow:hidden;}
#h_footer{
    height: 45px;
}
#h_footer ._footer_r{
    float:right;
    font-size: 10px;
    width: 330px;
    line-height: 45px;
}
#h_footer ._footer_r>p{
    display:inline-block;
}
#h_footer ._footer_r>a{
    margin:0 10px;
    color:#333;
}
#ftRec{
    text-align: center;
    width: 35px;
    font-weight: bold;
}

#links{
    height:190px;
    width: 100%;

}
#links .cont{
    height:190px;
    width: 980px;
    border-top:3px solid #000;
}
#links .cont dl{
    width:180px;
    padding-top:15px;
    height:175px;
    font-size: 12px;
    line-height: 19px;
    float:left;
}
#links .cont dl dt{
    font-weight: bold;
    line-height: 23px;
}
#links .cont .last dd{
    line-height:12px; 
    color:red;
    padding-top:10px;
    overflow:hidden;
    position: relative;
    padding-left:23px;
}

#links .cont .last dd i{
    color:#000;
    font-style: italic;
}
#links .cont .last dd .d_tu{
    display:block;
    width:18px;
    height:18px;
    background:url(../images/lf.png)no-repeat;
    position:absolute;left:0px;top:12px;
}
#links .cont .last dd .d_tu1{
    display:block;
    width:18px;
    height:18px;
    background:url(../images/lt.png)no-repeat;
    position:absolute;left:0px;top:12px;
}
#links .cont .last dd .d_tu2{
    display:block;
    width:18px;
    height:18px;
    background:url(../images/lb.png)no-repeat;
    position:absolute;
    left:0px;top:12px;
}
#links .cont .links_r{
    width:200px;
    height:100px;
    position:relative;
}
#links .cont .links_r p{
   font-size:12px;
   line-height: 16px;
}
#links .cont .links_r input{
   height:20px;
   width:173px;
   margin-top:5px;
   border:1px solid #000;
}
#links .cont .links_r .btn{
   width:80px;
   color:#fff;
   background: #424242;
}
#links .cont .links_r .links_r_tu{
   width:42px;
   height:85px;
   background:url(../images/qizi.png) no-repeat;
   position:absolute;
   left:-42px;top:0px;
}

#bottom{width: 100%;}
#bottom .cont{width: 980px;}
#bottom .m_bottom_t{
    width: 100%;
    height: 32px;
    position: relative;}
#bottom .m_bottom_t i{
    display:inline-block;width: 100%;
    height: 32px;
    background:url("../images/bottom1.png") no-repeat;
    position:absolute;
    left:50%;
    margin-left: -370px;
}
#bottom .m_bottom_b {
    height:53px; 
    text-align: center;
    line-height: 53px;
    font-size: 12px;
}
#bottom .m_bottom_b span{color:red;}